:root {
    /**
     * Change these colors for easy portability to other (PBworks) color themes. Currently a YELLOW-THEME is used.
     *
     * Example GREEN-THEME:
     * - helpstaff-color: #DEEFD1
     * - staff-color: #8BBF76
     * - teamleader-color: #5FA644
     *
     * Example RED-THEME:
     * - helpstaff-color: #FAC4C3
     * - staff-color: #D66666
     * - teamleader-color: #B72025
     */
    --helpstaff-color: #FEE9A0;
    --staff-color: #fccf2d;
    --teamleader-color: #ffb700;

    --column-color: #F4F4F4;
    --heading-color: grey;
    --text-color: #444;
}

input {
    accent-color: white;
}

#source-table { /* only show the source table when editing the page */
    display: none;
}

.era {
    background: repeating-linear-gradient(to right, white, white 100px, var(--column-color) 100px, var(--column-color) 200px);
    color: #444;
}
.legend {
    position: relative;
    display: inline-block;
    width: 100px;
    background-color: lightgrey;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.legend:nth-child(even) {
    background-color: var(--heading-color);
}

.staff-member {
    position: relative;
    height: 18px;
    padding: 10px 10px 10px 40px;
    margin: 5px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
    transition: .2s;
}
.staff-member:hover {
    filter: brightness(90%);
}
.staff-member--no-end {
    border-radius: 18px 0 0 18px;
}
.staff-member--no-end:after {
    content: "";
    height: 110%;
    margin-top: -10px;
    position: absolute;
    z-index: 1;
    width: 50px;
    right: 0;
    opacity: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.staff-member__image {
    position: absolute;
    width: 36px;
    margin: -9px -39px;
    border-radius: 100%;
    transition: .2s;
}
.staff-member:hover .staff-member__image {
    width: 38px;
    margin: -10px -40px;
}
.staff-member__tooltip {
    display: none;
    position: relative;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 5px;
}
.staff-member:hover .staff-member__tooltip {
    display: inline;
}

#era__filters {
    position: relative;
    margin: 60px auto 20px;
    padding: 0;
    max-width: 520px;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.era__filter-section {
    padding: 10px;
    min-width: 310px;
    background: var(--column-color);
    flex-grow: 1;
    text-align: center;
}

#era__footer {
    font-weight: lighter;
    font-style: italic;
    font-size: x-small;
    margin: 30px 10px 10px;
    text-align: right;
}

#era__footer a {
    text-decoration: none !important;
    color: var(--text-color);
}