:root {
    /**
     * Each team has their own color themes.
     */
    --bevers-helpstaff-color: #ffc0df;
    --bevers-staff-color: #FF66B3;
    --bevers-teamleader-color: #FF3385;
    --leonardus-helpstaff-color: #96e1c2;
    --leonardus-staff-color: #16c07b;
    --leonardus-teamleader-color: #0fa660;
    --parcival-helpstaff-color: #abe181;
    --parcival-staff-color: #73bb57;
    --parcival-teamleader-color: #5FA644;
    --scouts-helpstaff-color: #FEE9A0;
    --scouts-staff-color: #fccf2d;
    --scouts-teamleader-color: #ffb700;
    --explorers-helpstaff-color: #FAC4C3;
    --explorers-staff-color: #D66666;
    --explorers-teamleader-color: #cb4c50;
    --roverscouts-helpstaff-color: #d9cece;
    --roverscouts-staff-color: #a29090;
    --roverscouts-teamleader-color: #967070;
    --stam-helpstaff-color: #9BA4FF;
    --stam-staff-color: #8287ff;
    --stam-teamleader-color: #676aff;
    --bestuur-helpstaff-color: #FFAF6B;
    --bestuur-staff-color: #FF7F0E;
    --bestuur-teamleader-color: #FF5C00;
    --default-helpstaff-color: #CCCCCC;
    --default-staff-color: #999999;
    --default-teamleader-color: #666666;

    --column-color: #F4F4F4;
    --heading-color: grey;
    --text-color: #444;
}

input {
    accent-color: black;
}

.vertical-align {
    vertical-align: middle;
}

#source-table { /* only show the source table when editing the page */
    display: none;
}

#era-result {
    overflow: auto;
}

.era {
    background: repeating-linear-gradient(to right, white, white 100px, var(--column-color) 100px, var(--column-color) 200px);
    color: #444;
}
.legend {
    position: relative;
    display: inline-block;
    width: 100px;
    background-color: lightgrey;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.legend:nth-child(even) {
    background-color: var(--heading-color);
}

.staff-member {
    display: inline-block;
    position: relative;
    height: 18px;
    padding: 10px 10px 10px 40px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
    transition: .2s;
}
.staff-member:hover {
    filter: brightness(90%);
}
.staff-member__fuzzy-left {
    border-radius: 0 18px 18px 0;
}
.staff-member__fuzzy-right {
    border-radius: 18px 0 0 18px;
}
.staff-member__fuzzy-both {
    border-radius: 0 0 0 0;
}
.staff-member__fuzzy-left:before,
.staff-member__fuzzy-both:before {
    content: "";
    height: 110%;
    margin-top: -10px;
    position: absolute;
    z-index: 1;
    width: 50px;
    left: 0;
    opacity: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
/* Account for the vertical stripes. */
.staff-member__fuzzy-left--even:before {
    background: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(255, 255, 255, 0));
}
.staff-member__fuzzy-right:after,
.staff-member__fuzzy-both:after {
    content: "";
    height: 110%;
    margin-top: -10px;
    position: absolute;
    z-index: 1;
    width: 50px;
    right: 0;
    opacity: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
/* Account for the vertical stripes. */
.staff-member__fuzzy-right--even:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(245, 245, 245, 1));
}
.staff-member__image {
    position: absolute;
    width: 36px;
    margin: -9px -39px;
    border-radius: 100%;
    transition: .2s;
}
.staff-member:hover .staff-member__image {
    width: 38px;
    margin: -10px -40px;
}
.staff-member__tooltip {
    display: none;
    position: relative;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 5px;
}
.staff-member:hover .staff-member__tooltip {
    display: inline;
}
.staff-member:hover .staff-member__name {
    display: none;
}
.staff-member__theme-name {
    display: none;
}
.staff-member:hover .staff-member__theme-name {
    display: inline;
}

#era__filters {
    position: relative;
    margin: 60px auto 20px;
    padding: 0;
    max-width: 520px;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.era__filter-section {
    padding: 10px;
    min-width: 310px;
    background: var(--column-color);
    flex-grow: 1;
    text-align: center;
}

.era__filter-section label {
    display: inline-block;
}

#era__footer {
    font-weight: lighter;
    font-style: italic;
    font-size: x-small;
    margin: 30px 10px 10px;
    text-align: right;
}

#era__footer a {
    text-decoration: none !important;
    color: var(--text-color);
}
#era__footer img {
    height: 32px;
    width: 32px;
}